* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  display: flex;
  justify-content: center;
}

.bubbles span {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(79, 195, 220, 0.2666666667), 0 0 50px #705AFE, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(75s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #FFC107;
  box-shadow: 0 0 0 10px #F0DB4F, 0 0 50px #ff2d75, 0 0 100px #F23B00;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1);
  }
}