:root {
  --primary-color: #F8B78B;
  --secondary-color: #FCB173;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Card styles */
.card {
  position: relative;
  width: 320px;
  height: 460px;
  
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card:hover {
  transform: rotateY(180deg) rotateZ(90deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  backface-visibility: hidden;
}

.back {
  background-color: #F67C55;
  transform: rotateY(180deg);
}

.card__header {
  width: 100%;
  height: 130px;
  background-image: url(../svg/fondoencabezado.svg);
  background-repeat: no-repeat;
}

/* Body styles */
.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
  text-align: center;
}

.card__body__img-container {
  margin-top: calc(-50px - 8px);
  padding: 10px;
  border: 5px solid #F67C55;
  border-radius: 50%;
  background-color: #FCD3C6;
}

.card__body__img-container img {
  width: 150px;
}

.card__body__info__name{
  font-size: 1.5rem;
  margin: 10px 0;
}

.card__body__info__name span {
  font-weight: 400;
  color: var(--secondary-color);
}

/* Footer styles */
.card__footer {
  display: flex;
  margin: 20px 0;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.card__footer__specifications h3 {
  margin-top: 0;
}
.card__footer__specifications img {
  width: 30px;
  margin: 0 10px;
}

